.score-5 {
    background-color: lightgreen;
}
.score-4 {
    background-color: Honeydew;
}
.score-3 {
}
.score-2 {
    background-color: LavenderBlush;
}
.score-1 {
    background-color: pink;
}
.score-0 {
    background-color: salmon;
}